@model RealEstate.Models.Client

@{
    ViewData["Title"] = "Add Client Representatives";
}

<h1>Add Representatives</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddClientRepresentatives">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientId" />
            <input type="hidden" asp-for="FirstName" />
            <input type="hidden" asp-for="LastName" />
            <input type="hidden" asp-for="DOB" />
            <input type="hidden" asp-for="EmailAddress" />
            <input type="hidden" asp-for="PhoneNumber" />
            <input type="hidden" asp-for="SocialSecurityNumber" />
            <input type="hidden" asp-for="TypeOfClient" />
            <input type="hidden" asp-for="ClosingDate" />
            <input type="hidden" asp-for="DepositAmount" />
            <input type="hidden" asp-for="ApprovedAmount" />
            <input type="hidden" asp-for="ApprovalDate" />
            <input type="hidden" asp-for="InspectionDate" />
            <input type="hidden" asp-for="IdentityUserId" />
            <input type="hidden" asp-for="RealtorId" />
            <input type="hidden" asp-for="ChecklistId" />
            <input type="hidden" asp-for="AddressId" />
            @*<div class="form-group">
                <label asp-for="LoanOfficerId" class="control-label"></label>
                <select asp-for="LoanOfficerId" class="form-control" asp-items="ViewBag.LoanOfficerId"></select>
                <span asp-validation-for="LoanOfficerId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="LoanOfficerId" class="control-label"></label>
                <select asp-for="LoanOfficerId" class="form-control" asp-items="ViewBag.LoanOfficerId"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="ClosingRepId" class="control-label"></label>
                <select asp-for="ClosingRepId" class="form-control" asp-items="ViewBag.ClosingRepId"></select>
                <span asp-validation-for="ClosingRepId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ClosingRepId" class="control-label"></label>
                <select asp-for="ClosingRepId" class="form-control" asp-items="ViewBag.ClosingRepId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ClientList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
